/* =============================================================

	Form Saver v4.1
	A simple script that lets users save and reuse form data.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */
.form-saver {
  display: none;
  visibility: hidden;
}

.js-form-saver .form-saver {
  display: block;
  visibility: visible;
}
