/* =============================================================

	Form Saver v1.0
	A simple script that lets users save and reuse form data.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */

.hide-no-local-storage {
	display: none;
	visibility: hidden;
}

.local-storage .hide-no-local-storage {
	display: block;
	visibility: visible;
}